[submodule "linux-tdtcp"]
	path = linux-tdtcp
	url = https://github.com/shuoshuc/linux-tdtcp.git 
[submodule "linux-retcp"]
	path = linux-retcp
	url = https://github.com/shuoshuc/linux-retcp.git 
[submodule "mptcp"]
	path = mptcp
	url = https://github.com:shuoshuc/mptcp.git
	branch = dev
[submodule "wireshark-tdtcp"]
	path = wireshark-tdtcp
	url = https://github.com:shuoshuc/wireshark-tdtcp.git

